.bannerWrapper {
  color: #1e3799;
  position: relative;
  height: 100vh;
  background-color: #eaeef1;
}

.shape1 {
  width: 100%;
  max-width: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.shape2 {
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.banner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 80vh;
  padding: 0 30px;
  position: absolute;
  z-index: 11;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.bannerContent h1 {
  font-size: 76px;
  color: #000000;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 25px;
  font-family: "Poppins", sans-serif;
}

.bannerContent p {
  width: 100%;
  max-width: 600px;
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.servicesTitle {
  font-size: 36px;
  text-align: center;
  padding: 10px 0;
  margin: 50px 0;
  position: relative;
}

.servicesTitle::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 45%;
  width: 10%;
  height: 3px;
  background-color: #1e3799;
}

.seeAllService {
  width: 200px;
  padding: 15px 30px;
  background-color: #1e3799;
  border: none;
  color: #fff;
  outline: none;
  display: block;
  border-radius: 5px;
  text-align: center;
  margin: 30px auto;
  text-decoration: none;
  transition: all 0.3s ease;
}

.seeAllService:hover {
  background-color: #2948c6;
  transition: all 0.3s ease;
}

.camImg {
  width: 80px;
}

.myStr {
  background-color: #efefef;
}

@media screen and (max-width: 991px) {
  .bannerImagearea {
    display: none;
  }

  .bannerContent {
    width: 100%;
  }

  .bannerContent h1 {
    text-align: left;
  }

  .bannerContent p {
    width: 100%;
    text-align: left;
  }

  .shape1 {
    display: none;
  }

  .shape2 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .bannerContent h1 {
    font-size: 36px;
    text-align: center;
  }

  .bannerContent p {
    width: 100%;
    text-align: center;
  }
}
