.login-page {
  width: 100%;
  height: 100vh;
}

.loginFormWrapper {
  width: 100%;
  max-width: 500px;
  padding: 30px 10px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.login {
  color: #1e3799;
  margin-bottom: 20px;
  text-align: center;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.need-acc {
  margin-top: 15px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.social-login {
  display: flex;
  justify-content: center;
}

.use-in {
  text-align: center;
}

.sign-in {
  background-color: #1e3799;
  border: 2px solid #1e3799;
}

.sign-in:hover {
  background-color: #2948c6;
}
