.registration {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.welcome-back-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #fff;
}

.welcome-back-text .regImage {
  width: 100%;
  max-width: 650px;
  padding: 20px;
}

.registration-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registrationWrapper {
  width: 100%;
  max-width: 500px;
  padding: 30px 10px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.registration-form .create-acc {
  font-size: 36px;
  color: #1e3799;
  margin-bottom: 10px;
  text-align: center;
}

.social-login {
  display: flex;
  margin-bottom: 30px;
}

.icon {
  width: 45px;
  height: 45px;
  border: 2px solid #1e3799;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px 3px;
}

.googleIcon {
  border: 2px solid #000000 !important;
}

.googleIcon:hover {
  color: #fff !important;
  background-color: #000000 !important;
}

.icon:hover {
  color: #fff;
  background-color: #1e3799;
  transition: all 0.3s ease-in-out;
}

.use-in {
  color: #91a5a1;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.registrationForm {
  width: 100%;
  max-width: 500px;
  display: flex;
  padding: 020px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registrationForm input {
  padding: 15px;
  background-color: #dee4e3;
  border: none;
  outline: none;
  border-radius: 5px;
  display: block;
  width: 100%;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
}

.registration input:focus {
  background-color: #e8f0fe;
  transition: all 0.3s ease-in-out;
}

.inputFiled {
  width: 100%;
  position: relative;
}

.eye {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
}

.sign-up {
  text-transform: uppercase;
  padding: 15px 50px;
  border-radius: 50px;
  background-color: #1e3799;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  width: 40%;
  margin-top: 10px;
}

.sign-in {
  text-transform: uppercase;
  padding: 15px 50px;
  border-radius: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  width: 40%;
  text-align: center;
  border: 2px solid #192a56;
}

.sign-up:hover {
  cursor: pointer;
  background-color: #1e3799;
  transition: all 0.3s ease-in-out;
}

.login-link {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  .welcome-back-text {
    display: none;
  }
  .registration-form {
    width: 100%;
    max-width: 100%;
  }
}
