@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */

.disableEditFiled::-webkit-scrollbar {
  width: 3px;
}

/* Track */

.disableEditFiled::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.disableEditFiled::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

.disableEditFiled::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
